<h1> Register </h1>

{% block title %}Create an Account{% endblock %}

{% block content %}
    <form method="POST" class="form-group">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-success">Register</button>
    </form>
{% endblock %}







<!--
<form method = "POST" action="">
    {{form}}
    {% csrf_token %}

    {form.username.label}}
    {{form.username}}

    {{form.email.label}}
    {{form.email}}

    {{form.password1.label}}
    {{form.password1}}

    {{form.password2.label}}
    {{form.password2}}

    <input type ="submit" name="Create User">

    {{form.errors}}

    <div class="container" style="background-color:#f1f1f1">
        <span class="psw">Login <a href="{% url 'login' %}">here</a></span>
      </div>

</form>
-->
